h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration-line: underline;
}

.footer {
    display: flex;
    text-align: center;
    border: 1px solid grey;

}
.p1 {
    font-family: fantasy;
}
body {
    background: linear-gradient(to right,teal,magenta,gold);
}

